# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db
